<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table>
  <br>
  <a href='/cool_url'>Cool URL!</a>
  <br>
  <form name='cool_form'
    action='/cool_url'
    method='POST'>

    <textarea cols='40' rows='5' name='cool_text_area'>cool_text_area</textarea>
    <br>
    <br>
    <input name = 'rb' type='radio' group='cool_radio_buttons' value='first' checked>First</input>
    <input name = 'rb' type='radio' group='cool_radio_buttons' value='second'>Second</input>
    <input name = 'rb' type='radio' group='cool_radio_buttons' value='third'>Third</input>
    <br>
    <br>
    <input name = 'cb[1]' type='checkbox' value='first_cb'>First CB</input>
    <input name = 'cb[2]' type='checkbox' value='second_cb' checked>Second CB</input>
    <input name = 'cb[3]' type='checkbox' value='third_cb' checked>Third CB</input>
    <br>
    <br>
    <select name='select' multiple>
    <option value='first_sb'>First SB</input>
    <option selected value='second_sb'>Second SB</input>
    <option value='third_sb'>Third SB</input>
    </select>
    <br>
    <br>
    <input type='submit' value='Submit'>
  </form>

</div>
